@import "tailwindcss";

@theme {
  --color-primary: #14532d; /* Rich Islamic Green */
  --color-primary-foreground: #ffffff;
  --color-accent: #a7f3d0; /* Mint Green */
  --color-muted: #f0fdf4; /* Lightest background */
  --color-text: #1e3a1f; /* Dark green text */
}
